<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login.css">
    <title>Neko Booking</title>
</head>
<style>
    .opcoes {
        width: 50px;
    }
</style>

<body>
    <nav>
        <div class="logo">
            <img src="images/logo.png" alt="Logo Neko" id="logo">
            <h2 id="nome_logo">Neko Booking</h2>
        </div>
        <div class="pesquisa">
            <input type="text" name="search" class="inp_pesquisa">
            <input type="button" value="" id="bt"> 
            <img src="images/icon-search.png" alt="Icon Lupa" id="lupa">
        </div>

        <div class="opcoes">
            <div class="perfil">
                <img class="menus" src="images/profile.png" alt="icon_perfil">
            </div>
        </div>


        <div class="overvil">
            <a href="#"><div class="op">Entrar</div></a>
            <a href="/cadastro"><div class="op">Cadastrar-se</div></a>
            <a href="/help"><div class="op">Ajuda</div></a>
        </div>

        
    </nav>

    <link rel="stylesheet" href="style/login.css">
<h2>Faça o Login</h2>

    <form action="#" method="post" id="formulario">
        <label for="userinput"> Email </label>
        <input type="email" name="login" id="userinput"  class="campos" placeholder="Digite seu email">
    
        <label for="passinput"> Senha </label>
        <input type="password" name="password" id="passinput" class="campos" placeholder="Digite sua senha">
    
        <button type="submit" name="acao" value="logar" id="bt-log">Entrar</button>
    
    </form>

 <div class="resultado">{{resultado}}</div>
    
</body>

<script src="scripts/config.js">
</script>
</html>